body {
    overflow: hidden;
}

h3 {
    margin: 0;
    margin-bottom: 1em;
}

#paper {
    filter: blur(5px);
    user-select: none;
    margin-bottom: 50vh;
}

dialog {
    margin: 0; /* Remove default margins */
    padding: 20px; /* Optional: add some padding inside the dialog */
    border-radius: 10px; /* Optional: add rounded corners */
    position: fixed; /* Fix it to the screen */
    top: 50%; /* Position 50% from the top */
    left: 50%; /* Position 50% from the left */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    text-align: center;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    padding: 2em;
    border-radius: 1em;
}

#unlock {
    background-color: var(--text-color);
    color: white;
    border: none;
    padding: 0.1em 1em;
    border-radius: 0.5em;
    font: inherit;
    cursor: pointer;
}

#error {
    color: crimson;

}