<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FuturePW</title>
    <meta name="title" content="FuturePW" />
    <meta name="description" content="Send password to your future self." />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='root.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Rubik:wght@800&display=swap" rel="stylesheet">
    {% block head %}

    {% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>

    <div>
        <img id="splitter" src="{{ url_for('static', filename='clouds-splitter.svg') }}" alt="🌫️">
        <div id="bottom">
            {% block content_bottom %}

            {% endblock %}
        </div>
        <div class="footer">
            <span class="footerText">Made with ❤️ by 🍞</span>
            <a href="https://github.com/lightly-toasted/FuturePW"><i class="fa-brands fa-github"></i> lightly-toasted/FuturePW</a>
        </div>
    </div>
</body>
</html>