{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}

{% block content %}
<form method="post">
    <div id="paper">
        <h1 style="font-size: 24px; display: inline; vertical-align: middle;">FuturePW</h1>
        <img src="{{ url_for('static', filename='icon.svg') }}" alt="FuturePW" width="32" height="32" style="vertical-align: middle; color: var(--text-color); margin-left: -0.25em;">
        <span style="float: right;">{{ today }}</span>

        <textarea name="content" id="message" placeholder="Enter secrets that you want to forget now and send to your future self.
Anything is allowed such as your SNS account password, lock key location, your iPhone's passcode, etc. 

Your secrets will not be saved anywhere, Only you (and whoever has link) can read them." style="font: inherit; border: none;" maxlength="10000" required></textarea>
        <p style="font-family: 'Alex Brush', cursive; font-size: 1.2em;">You - on {{ today }}</p>
    </div>
    <div id="controls">
        <div id="time">
            <span style="font-size: 2em;">
                Receiver: You<br>
                <span id="timeLabel" style="display: inline-block;">Deliver in</span>
                <div style="display: inline-block; white-space: nowrap;">
                    <input type="number" name="timeNumber" id="timeNumber" min="1" max="9999" value="1" required>
                    <select name="timeUnit" id="timeUnit" required>
                        <option value="years">years</option>
                        <option value="weeks" selected>weeks</option>
                        <option value="days">days</option>
                        <option value="hours">hours</option>
                        <option value="minutes">minutes</option>
                    </select>
                </div>
            </span>
            <input id="submit" type="submit" value="Send">
        </div>
        <span id="durationSwitchText" style="display: none;">Or choose a <button id="durationSwitch" type="button">date</button></span>
    </div>
</form>

<script>
    const paper = document.getElementById('paper');
    const controls = document.getElementById('controls');
    const submit = document.getElementById('submit');
    const durationSwitch = document.getElementById('durationSwitch');
    const durationSwitchText = document.getElementById('durationSwitchText');
    const timeNumber = document.getElementById('timeNumber');
    const timeUnit = document.getElementById('timeUnit');
    const timeLabel = document.getElementById('timeLabel');
    let isDuration = true;
    
    document.querySelector('form').addEventListener('submit', async function(e) {
        e.preventDefault();

        submit.disabled = true;
        controls.style.transform = "translateY(200%)";
        controls.style.opacity = "0";
        paper.style.pointerEvents = "none";
        controls.style.pointerEvents = "none";
        
        for (const child of paper.children) {
            child.style.opacity = "0";
        }
        for (const child of paper.children) {
            child.style.opacity = "0";
        }
        
        await new Promise(resolve => setTimeout(resolve, 500));

        if (window.matchMedia("(max-width: 767px)").matches) {
            paper.style.filter = "none";
        }
        paper.style.backgroundColor = "transparent";
        paper.style.backgroundImage = "url('{{ url_for('static', filename='send.gif') }}')";
        
        await new Promise(resolve => setTimeout(resolve, 800));

        paper.style.transform = `translate(200%, -200%)`;

        await new Promise(resolve => setTimeout(resolve, 1100));

        const formData = new FormData(this);
        if (!isDuration) {
            const date = new Date();
            const selectedDate = new Date(formData.get('timeNumber'));
            const minutes = (selectedDate.getTime() - date.getTime()) / 60000;
            formData.set('timeNumber', String(minutes));
            formData.set('timeUnit', 'minutes');
        }

        const response = await fetch('/', {
            method: 'POST',
            body: formData,
        });
        
        if (response.redirected) {
            window.location.href = response.url;
        }
    });

    durationSwitchText.style.display = "inline-block";
    durationSwitch.addEventListener('click', () => {
        if (isDuration) {
            timeLabel.textContent = "Deliver on";
            durationSwitch.textContent = "duration"
            timeNumber.type = "datetime-local";
            timeNumber.style.width = "20ch";
            timeNumber.style.maxWidth = "80vw";
            timeNumber.min = new Date().toISOString().slice(0, 16);
            timeUnit.style.display = "none";
        } else {
            timeLabel.textContent = "Deliver in";
            durationSwitch.textContent = "date"
            timeNumber.type = "number";
            timeNumber.style.width = "5.5em";
            timeNumber.style.maxWidth = "40vw";
            timeNumber.value = "1";
            timeNumber.min = "1";
            timeUnit.style.display = "inline-block";
        }
        isDuration = !isDuration;
    });
</script>
{% endblock %}