{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}

{% block content %}
<div id="recent"></div>

<form method="post">
    <div id="paper">
        <h1 style="font-size: 24px; display: inline; vertical-align: middle;">FuturePW</h1>
        <img src="{{ url_for('static', filename='icon.svg') }}" alt="FuturePW" width="32" height="32" style="vertical-align: middle; color: red; margin-left: -0.25em;">
        <span style="float: right;">{{ today }}</span>

        <textarea name="content" id="message" placeholder="Enter secrets that you want to forget now and send to your future self.
Anything is allowed such as your SNS account password, lock key location, your iPhone's passcode, etc. 

Your secrets will not be saved anywhere, Only you (and whoever has link) can read them." style="font: inherit; border: none;" maxlength="10000" required></textarea>
        <p style="font-family: 'Alex Brush', cursive; font-size: 1.2em;">You - on {{ today }}</p>
    </div>
    <div id="controls">
        <div id="time">
            <span style="font-size: 2em;">
                Receiver: You<br>
                <span id="timeLabel" style="display: inline-block;">Deliver in</span>
                <div style="display: inline-block; white-space: nowrap;">
                    <input type="number" name="timeNumber" id="timeNumber" min="1" max="9999" value="1" required>
                    <select name="timeUnit" id="timeUnit" required>
                        <option value="years">years</option>
                        <option value="weeks" selected>weeks</option>
                        <option value="days">days</option>
                        <option value="hours">hours</option>
                        <option value="minutes">minutes</option>
                    </select>
                </div>
            </span>
            <input id="submit" type="submit" value="Send">
        </div>
        <span id="durationSwitchText" style="display: none;">Or choose a <button id="durationSwitch" type="button">date</button></span>
    </div>
</form>

<script src="{{ url_for('static', filename='form.js') }}"></script>
{% endblock %}