{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='secured.css') }}">
{% endblock %}

{% block content %}
<form method="post">
    <dialog open>
        <h3>This message is protected.</h3>
        <label for="pin">PIN: </label>
        <input type="password" name="pin" id="pin" required>
        <input id="unlock" type="submit" value="Unlock"><br>
        {%with messages = get_flashed_messages()%}
        {%if messages %}
            <br><span id="error">{{ messages[0] }}</span>
        {%endif%}
        {%endwith%}
    </dialog>
</form>
<div id="paper" style="margin-top: 64px;">
    <div>
        <h1 style="font-size: 24px; display: inline; vertical-align: middle;">FuturePW</h1>
        <img src="{{ url_for('static', filename='icon.svg') }}" alt="FuturePW" width="32" height="32" style="vertical-align: middle; color: var(--text-color); margin-left: -0.25em;">
        <span style="float: right;">Protected</span>
    </div>

    <p id="message">
        This message is protected. You need a PIN to unlock it. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet lectus ante, sit amet sollicitudin tortor auctor a. Duis viverra arcu arcu, nec gravida odio laoreet ac. Maecenas ut eros non justo fringilla semper a accumsan dui. Donec ac sollicitudin nisi, non efficitur odio.
    </p>
    
    <p style="font-family: 'Alex Brush', cursive; font-size: 1.2em;">This message is protected.</p>
</div>
{% endblock %}